<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 nav-hover-light" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?stocktype=new_stock" class="dropdown-item">New Stock</a>
                <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 nav-hover-light" href="#" id="magic-singles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Magic Singles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?mtgexpansion=kaldheim" class="dropdown-item">Kaldheim</a>
                <a href="{% url 'products' %}?mtgexpansion=zendikar_rising" class="dropdown-item">Zendikar Rising</a>
                <a href="{% url 'products' %}?mtgexpansion=ikoria_lair_of_behemoths" class="dropdown-item">Ikoria: Lair of Behemoths</a>
                <a href="{% url 'products' %}?mtgexpansion=battle_for_zendikar" class="dropdown-item">Battle for Zendikar</a>
                <a href="{% url 'products' %}?mtgexpansion=kaldheim,zendikar_rising,ikoria_lair_of_behemoths,battle_for_zendikar" class="dropdown-item">All Singles</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black nav-hover-light" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?stocktype=card_of_the_day" class="dropdown-item">Card of the Day</a>
                <a href="{% url 'products' %}?stocktype=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?stocktype=card_of_the_day,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>