{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="jumbotron jumbo-white">
  <h1 class="display-4 text-center text-black">Oh, No!</h1>
  <p class="lead text-center text-black">There is an error with this page or it no longer exists!</p>
  <hr class="my-4">
  <p class="lead text-center">
    <a class="btn btn-dark btn-lg" href="{% url 'home' %}" role="button">Return Home</a>
  </p>
</div>
{% endblock%}